<!DOCTYPE html>
<html>
    <head>
 
    </head>
    <body>
       <h1>Simplon Club</h1>
       <p>Simplon, réseau de Fabriques
numériques et inclusives
Simplon.co est un réseau de Fabriques solidaires et inclusives qui proposent des formations gratuites aux métiers techniques du numérique en France et à l’étranger</p>
       <img src={{asset('images/Simplonline.png')}}/>
    </body>
</html>
